<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.liiot.snsserver.mapper.PostMapper">
    <insert id="insertPost" parameterType="me.liiot.snsserver.model.post.PostUploadInfo">
        INSERT INTO post(userId, content)
        VALUES(#{userId}, #{content})
    </insert>

    <select id="getLatestPostId" parameterType="String" resultType="int">
        SELECT id FROM post
        WHERE userId = #{userId}
        ORDER BY createTime DESC LIMIT 1
    </select>

    <select id="getPost" parameterType="int" resultType="me.liiot.snsserver.model.post.Post">
        SELECT id, userId, content, createTime
        FROM post
        WHERE id = #{postId}
    </select>
</mapper>