<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.liiot.snsserver.mapper.UserMapper">
    <insert id="insertUser" parameterType="me.liiot.snsserver.model.UserSignUpParam">
        INSERT INTO user(userId, password, name, phoneNumber, email, birth)
        VALUES(#{userId}, #{password}, #{name}, #{phoneNumber}, #{email}, #{birth})
    </insert>

    <select id="isExistUserId" parameterType="String" resultType="boolean">
        SELECT EXISTS
        (SELECT userId FROM user WHERE userId=#{userId});
    </select>

    <select id="getPassword" parameterType="String" resultType="String">
        SELECT password FROM user
        WHERE userId = #{userId}
    </select>

    <select id="getUser" parameterType="String"
            resultType="me.liiot.snsserver.model.User">
        SELECT userId, password, name, phoneNumber, email, birth,
        profileMessage, profileImageName, profileImagePath
        FROM user
        WHERE userId = #{userId}
    </select>

    <update id="updateUser" parameterType="me.liiot.snsserver.model.UserUpdateInfo">
        UPDATE user
        SET name = #{name}, phoneNumber = #{phoneNumber}, email = #{email}, birth = #{birth},
        profileMessage = #{profileMessage}, profileImageName = #{profileImageName},
        profileImagePath = #{profileImagePath}
        WHERE userId = #{userId}
    </update>

    <update id="updateUserPassword" parameterType="me.liiot.snsserver.model.UserIdAndPassword">
        UPDATE user
        SET password = #{password}
        WHERE userId = #{userId}
    </update>

    <delete id="deleteUser" parameterType="String">
        DELETE FROM user
        WHERE userId = #{userId}
    </delete>
</mapper>