<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.liiot.snsserver.mapper.UserMapper">
    <insert id="insertUser" parameterType="me.liiot.snsserver.model.User">
        INSERT INTO user(userId, password, name, phoneNumber, email, birth)
        VALUES(#{userId}, #{password}, #{name}, #{phoneNumber}, #{email}, #{birth})
    </insert>

    <select id="checkIdDupe" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0 FROM user
        WHERE userId = #{userId}
    </select>
</mapper>